@import url('https://fonts.googleapis.com/css?family=Poppins:300,400,600,700&display=swap');

:root {
  --dark-gray: #212121;
  --medium-gray: #666666;
  --Light-Gray: #E0E0E0;
  --white: #FFFFFF;
  --background: #F7F7F7;
}

body {
  color: var(--dark-gray);
  background-color: var(--background);
  transition: color 0.5s, background-color 0.5s;
  line-height: 1.6;
  font-family: 'Poppins', sans-serif;
  font-size: 15px;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

body #wrapper {
    max-width: 1300px;
    margin: 0 auto;
    min-height: 100vh;
    overflow: hidden;
    width: 100%;
}
